<form [formGroup]="buscarForm" (ngSubmit)="onSubmit()">
    <input id='fecha' formControlName='fecha' type="date">
    <div class="error" *ngIf="buscarForm.controls['fecha'].invalid">
        Se requiere la fecha
    </div>
    <button type="submit" [disabled]="!buscarForm.valid">Consultar</button>
</form>

<br>

<table>
    <tr>
        <th>PLACA</th>
        <th>FECHA</th>
        <th>TIPO</th>
    </tr>
    <tr *ngFor="let registro of registros">
        <td>{{ registro.placa }} </td>
        <td>{{ registro.fecha }}</td>
        <td>{{ (registro.tipo == 1? "ENTRADA" : (registro.tipo == 2? "SALIDA" : "DESCONOCIDO")) }}</td>
    </tr>
</table>