<div>
  <form [formGroup]="crearVehiculoForm" (ngSubmit)="onSubmit()">
    <input type="text" id="placa" formControlName="placa" placeholder="Placa" required>
    <select id="dueno" formControlName="dueno" required>
      <option value="" disabled selected hidden>Propietrio</option>
        <option *ngFor="let usuario of usuarios" [value]="usuario.id">{{ usuario.id  }}</option>
      </select>
    <input type="text" id="marca" formControlName="marca" placeholder="Marca" required>
    <input type="text" id="modelo" formControlName="modelo" placeholder="Modelo" required>
    <input type="text" id="color" formControlName="color" placeholder="Color" required>
    <select id="tipo" formControlName="tipo" required>
      <option value="" disabled selected hidden>Tipo de vehículo</option>
      <option *ngFor="let tipo of tiposVehiculo" [value]="tipo.tipo">{{ tipo.descripcion }}</option>
    </select>
    <button type="submit" id="crearUsuario">Crear vehiculo</button>
  </form>
  <p id="error" *ngIf="errorCrear.length > 0">{{errorCrear}}</p>
  <p id="exito" *ngIf="exitoCrear.length > 0">{{exitoCrear}}</p>
</div>

<div>
    <table style="width:80% ;" *ngIf="vehiculos.length > 0">
      <tr>
        <th>PLACA</th>
        <th>DUEÑO</th>
        <th>MARCA</th>
        <th>MODELO</th>
        <th>COLOR</th>
        <th>TIPO</th>
      </tr>
      <tr *ngFor="let vehiculo of vehiculos">
        <td>{{ vehiculo.placa }} </td>
        <td>{{ vehiculo.dueno }}</td>
        <td>{{ vehiculo.marca }}</td>
        <td>{{ vehiculo.modelo }}</td>
        <td>{{ vehiculo.color }}</td>
        <td>{{ vehiculo.tipo }}</td>
      </tr>
    </table>
  </div>